@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);

/*Theme Colors*/
/*bootstrap Color*/
/*Normal Color*/
/*Border radius*/
/*Preloader*/
.preloader {
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  z-index: 99999;
  background: #fff;
}
.preloader .cssload-speeding-wheel {
  position: absolute;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
}
/* This is for popins font for firefox */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/*Just change your choise color here its theme Colors*/
body {
  background: #4F5467;
}
/*Top Header Part*/
.logo i {
  color: #ffffff;
}
.navbar-header {
  background: #a0aec4;
}
.navbar-top-links > li > a {
  color: #ffffff;
}
/*Right panel*/
.right-sidebar .rpanel-title {
  background: #a0aec4;
}
/*Bread Crumb*/
.bg-title .breadcrumb .active {
  color: #a0aec4;
}
/*Sidebar*/
.sidebar {
  background: #4F5467;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}
.sidebar .label-custom {
  background: #01c0c8;
}
#side-menu li a {
  color: #a6acbc;
}
#side-menu li a {
  color: #a6acbc;
  border-left: 0px solid #4F5467;
}
#side-menu > li > a {
  border-color: #4F5467;
}
#side-menu > li > a:hover,
#side-menu > li > a:focus {
  background: rgba(0, 0, 0, 0.07);
  border-color: #4F5467;
}
#side-menu > li > a.active {
  border-bottom: 2px solid #a0aec4;
  font-weight: 500;
}
#side-menu > li > a.active i {
  color: #a0aec4;
}
#side-menu ul > li > a:hover {
  color: #a0aec4;
  background: none;
}
#side-menu ul > li > a.active {
  color: #ffffff;
  font-weight: 500;
}
.sidebar #side-menu > li:hover a {
  background: #393e4f;
}
.sidebar #side-menu .user-pro .nav-second-level a:hover {
  color: #a0aec4;
}
#side-menu .nav-second-level li:hover > a {
  color: #a0aec4;
}
#side-menu .nav-second-level.two-li {
  background: #393e4f;
}
@media (min-width: 768px) {
  .content-wrapper #side-menu li a.active,
  .content-wrapper #side-menu ul,
  .content-wrapper .sidebar #side-menu > li:hover {
    background: #444859;
  }
}
.fix-sidebar .top-left-part {
  background: #a0aec4;
}
/*themecolor*/
.bg-theme {
  background-color: #fb9678 !important;
}
.bg-theme-dark {
  background-color: #01c0c8 !important;
}
/*Chat widget*/
.chat-list .odd .chat-text {
  background: #a0aec4;
}
/*Button*/
.btn-custom {
  background: #a0aec4;
  border: 1px solid #a0aec4;
  color: #ffffff;
}
.btn-custom:hover {
  background: #a0aec4;
  opacity: 0.8;
  color: #ffffff;
  border: 1px solid #a0aec4;
}
/*Custom tab*/
.customtab li.active a,
.customtab li.active a:hover,
.customtab li.active a:focus {
  border-bottom: 2px solid #a0aec4;
  color: #a0aec4;
}
.tabs-vertical li.active a,
.tabs-vertical li.active a:hover,
.tabs-vertical li.active a:focus {
  background: #a0aec4;
  border-right: 2px solid #a0aec4;
}
/*Nav-pills*/
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background: #a0aec4;
  color: #ffffff;
}
